/* stili genrali */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.centratura{
    display: flex;
    align-items: center;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
/* caratteristiche contenitore */
#app,#notifica{
    display: flex;
}
/* caratteristiche rubrica */
#rubrica{
    width: 300px;
    height: 100vh;
    /* debug */
    background-color: red;
}

#proprietario, #contatti-persone li, #persona-chatting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#proprietario,#persona-chatting {
    height: 60px;
    background-color: grey;
}

#messaggi {
    height: calc(100vh - 120px);
    /* debug */
    background-color: aqua;
}

#contatti-persone ul, #messaggi{
    overflow: auto;
}

/* caratteristiche chat */
#chat{
    flex-grow: 1;
    height: 100vh;
    /* debug */
    background-color: blue;
}
#space-writing{
    height: 60px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#space-writing i{
    margin: 0px 10px ;
}

#space-writing input{
    width: 70%;
}
