/* sfondo della pagina e caratteristiche generali */
body{
    background-color: #d6dbd6;
}

#bg-color{
    width: 100%;
    height: 100px;
    background-color: #009688;
    position: absolute;
    z-index: -1;
}
#app .container{
    background-color: white;
    color: black;
}

#messaggi::-webkit-scrollbar,.display-overflow::-webkit-scrollbar {
    display: none;
}
/* componenti che non si devono ingrandire  */
#space-writing input, .container i, .informazioni{
    font-size: 13px;
}
/* cclasse per centrare in altzza i tag contenenti i dati delle persone */
.centratura{
    display: flex;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
/* sfondo per testo dentro ai li in displayoverflow  */
.card{
    background-color: #8edafc; 
}

#notifica-disabilitata{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    color: #9fdffb;
}

.display-overflow li:hover{
    background-color: lightgray;
}

.display-overflow{
    height: calc(100vh - 180px);
    overflow-y: scroll;
}

li>span{
    border-top: 1px solid rgba(0, 0, 0, 0.547);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* caratteristiche tag messaggi nella schermarta */
#messaggi{
    background-image: url(../img/8DYndB.webp);
    background-size: contain;
    height: calc(100vh - 126px);
    overflow-y: scroll;
}

.messaggiMandati,.messaggiRicevuti{
    padding: 10px;
    display: inline-block;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    width: 38%;
    color: black;
}

.messaggiMandati{
    left: 50%;
    background-color:#d5f9ba;
}

.messaggiRicevuti{
    left: 3%;
    background-color:white;
}

.time{
    font-size: 13px;
    text-align: end;
    margin-top: 4px;
}
/* caratteristiche tag space writing ( per inviare il messaggio ) */
#space-writing{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#space-writing i{
    margin: 0px 10px ;
}

#space-writing input{
    width: 70%;
    padding: 5px;
}
/* classe per js */
.scompari{
    display: none;
}

.bgli{
    background-color:#e9ebeb;
}

.font{
    font-size: 15px;
}
/* classi per js sfondo */
.bg_pagina{
    background-color: #000000cf;
    color: white;
}

.bg_sfondo{
    background-color: black;
}

/* classe per rimuovere o modificare caratteristiche da bootstrap */
.dropdown-toggle::after{
    content: none;
}

nav i{
    color: #b1b1b1;
}

.navbar-brand{
    font-size: unset;
}

.navbar-light .navbar-brand{
    color: unset;
}

.list-group-item{
    color: unset;
}